---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import SectionContainer from '../components/SectionContainer.astro';
import BriefcaseIcon from '../icons/Briefcase.astro';
import CodeIcon from '../icons/Code.astro';
---

<Layout
  title="davidbarriosdev Portfolio - Software developer with +4 years of experience"
  description="Contrata a davidbarriosdev para crear tu aplicacion web o movil. "
>
  <main class="px-4 md:px-8 lg:px-0">
    <SectionContainer id="about" class="py-44 pb-32">
      <img
        class="rounded-full size-12 mb-4"
        src="/briard.webp"
        alt="davidbarriosdev avatar"
      />
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row items-center gap-x-4 pb-6 lg:pb-10"
      >
        Hey, I'm David Barrios <Badge>Open to work</Badge>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+4 years of experience.</span>
        <span class="text-yellow-800/90 dark:text-yellow-200/90"
          >Frontend Developer.</span
        >
        <span class="text-red-800/90 dark:text-red-200/90">From Colombia.</span>
        <span class="text-sky-800/80 dark:text-sky-200/80"
          >Specialized in creating unique applications.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/david-barrios-dev">
          <LinkedInIcon class="size-4 md:size-6" /> LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/davidbarrios-dev">
          <GitHubIcon class="size-4 md:size-6" /> GitHub
        </SocialPill>
        <SocialPill href="mailto:davidbarriosdev@gmail.com">
          <MailIcon class="size-4 md:size-6" /> davidbarriosdev@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-7" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
