---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'June 2022  - Present',
    title: 'Software engineer - Twilio',
    descriptions: [
      'Migrate old website pages implemented on React using class components to React using functional components, and add/update unit testing, e2e test improving the code quality, and user experience for the clients.',
      'Implement synthetic tests to the new and legacy pages to validate the correct flow and help to detect possible incidents quickly using DataDog.',
      'Create Heap dashboards to monitor the pages to detect what user experience we can improve for the clients.',
      'Add/update backend services using technologies like NodeJs,and Java.',
    ],
  },
  {
    date: 'March 2022 - June 2022',
    title: 'Software engineer - Sofka Technologies',
    descriptions: [
      'Develop new features for web and mobile applications of a financial company using Angular, Ionic and typescript.',
      'Add/Update unit testing to reach 95% of code coverage using karma and Jasmine.'
    ],
  },
  {
    date: 'July 2021 - December 2021',
    title: 'Software engineer - Rockwell Automation',
    descriptions: [
      'Implement new features in the web/desktop application for PLC management using Angular, Typescript.',
      'Maintain the containers of backend services using Docker, Kubernetes and Helmet.',
      'Add/Update unit testing to improve the code coverage using Karma and Jasmine.'
    ],
  },
  {
    date: 'February 2021 - July 2021',
    title: 'Software developer - Pragma S.A',
    descriptions: [
      'Implement new features in the Web application of a Brazilian Bank to improve the onboarding experience to facilitate the registration, delivery and verification of documents for new clients using Angular, Java, Typescript, and Docker.',
      'Add/Update unit testing to ensure code quality using Karma and Jasmine.'
    ],
  },
  ,
  {
    date: 'September 2020 - February 2021',
    title: 'Web developer - Neptuno Smart System S.A.S',
    descriptions: [
      'Developed and updated functionality based on customer requirements to ensure excellent user experience using C# and .Net.',
      'Maintain backend services using C#.',
      'Implement new features for side projects using React and NodeJs.'
    ],
  },
  ,
  {
    date: 'April 2019 - February 2020',
    title: 'Frontend developer - Ciberdix S.A.S',
    descriptions: [
      'Implement new features for web application of a Financial Company in Colombia using Angular, React and Java.',
      'Maintain and add new features for the mobile app of the company using Ionic.',
      'Help with the onboarding process of Trainees developers.'
    ],
  },
];
---

<ol class="relative border-s border-gray-800 dark:border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
